body{
background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
	margin-top: 10px;
	font-family: 'Lobster', cursive;
}

header p{
		color: #30336B;
}

h5{
	font-weight: bold;
	font-family: 'Satisfy', cursive;
	font-size: 50px;
	color: #74B9FF;

}

.card{
	margin : 10px;
}
.card-body{
	padding: 10px;
}
.container{
	margin-top: 30px;
}